/* resources/css/app.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

@layer base {
  @font-face {
    font-family: 'Khmer OS Siem Reap';
    src: url('/fonts/KhmerOS_siemreap.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
  font-family: 'Lora', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 'Khmer OS Siem Reap';
}
}